.product_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex: 1;
}
.product_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.product_summery {
  padding: 2px 16px;
}
.product_title{
    margin: 0px;
}
.product_rating{

}
.product_image{
    height: 120px;
    width: 110px;
}